#regContainer{
    display: inline-block;
    flex-direction: column;
    text-align: left;
    width: 40%;
    justify-content: left;
    align-items: left;
    margin: 0 auto;
    
} 
#title {
    color:black;
    text-align: left;
    font-family: 'Helvetica';
 } 
 .columns {
    font-family: 'Helvetica';
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	border: 1px solid gray;
	margin: 2px;
	padding: 10px;
	
	
}
#column:first-child{ margin-left: 0;}
#column:last-child{ margin-right: 0;}

#postContainer *{
    width: 100%;
    margin: 10px;
} 

#text {
    height: 100px;
    border-radius: 5px;
} 


#subtitle{
   color:black;
   text-align: left;
   font-family: 'Helvetica';
} 

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }

#postList{
    color:whitesmoke;
    font-family: 'Helvetica';
    font-size: medium;
    text-align: center;
    width: 25%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
 } 


 .stud-card{
    background-color:gainsboro;
    padding-bottom: 10%;
    margin-bottom: 25px;
    border-radius: 5px;
}

.student-course{
    padding-top: 5px;
    padding-left: 15px;
    font-family: 'Helvetica';
    color:grey;
}
.student-name, .student-code{
    margin: 0 auto;
    padding-left: 15px;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: medium;

}
.student-particip{
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 40px;
    font-family: 'Helvetica';
    font-weight: bolder; 
    font-size: x-large;
}
.part-button{
background-color: skyblue;
}
.elim-button{
    background-color: firebrick;
    }
.part-button, .elim-button{
    float: right;
    display: flex;
    justify-content:center;
    position: relative;
    bottom: 50px;
    right: 20px;
    font-family: 'Helvetica';
    font-weight: bolder; 
    font-size: x-large;
    border-radius: 50%;
    width: 50px;
    height:50px;
    margin-bottom: 10px; 
    margin-right: 8px;
}


@media screen and (max-width: 980px) {
    .columns .column {
          margin-bottom: 5px;
      flex-basis: 40%;
         
      }
    .columns .column:nth-last-child(2){
        margin-right: 0;
    }
    .columns .column:last-child(){
        flex-basis: 100%;
			margin: 0;
    }
  }
  
  @media screen and (max-width: 680px) {
      .columns .column {
          flex-basis: 100%;
          margin: 0 0 5px 0;
      }
  }